<div class="col-lg-2">
    <ul>
        <li>profile</li>
        <li>class</li>
        <li>
            <a ui-sref=".leaderborad">leaderborad</a>
        </li>
        <li>about</li>
    </ul>
</div>
