<div class="notif notif--success">
    <div class="notif__content"><i class="material-icons notif__icon">check</i>
        <div>
            <h1 class="notif__title">Upload complete</h1><span class="notif__subtitle">Woohoo!</span>
        </div>
    </div>
    <div class="notif__actions">
        <a href="#" data-tooltip="Get link" class="notif__action"><i class="material-icons">link</i></a>
    </div>
</div>
<div class="notif notif--error">
    <div class="notif__content"><i class="material-icons notif__icon">error</i>
        <div>
            <h1 class="notif__title">Upload failed</h1><span class="notif__subtitle">Sorry about that.</span>
        </div>
    </div>
    <div class="notif__actions">
        <a href="#" data-tooltip="Retry" class="notif__action"><i class="material-icons">refresh</i></a>
        <a href="#" data-tooltip="Error info" class="notif__action"><i class="material-icons">info</i></a>
    </div>
</div>
