<div>
    <div class="modal-header">
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body code-img text-center">
        <!-- <canvas draw-logo class="logo_canvas" id="canvas"></canvas> -->
        <!-- <img src="/images/Ionic_Logo.svg" alt="" class="editor_loader" /> -->
        <div class="content__wrapper">
            <div class="ellipses-container">
                <h2 class="greeting" ng-bind="project_name"></h2>
                <div class="ellipses ellipses__outer--thin">
                    <div class="ellipses ellipses__orbit"></div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <h4>開始建立我們的Phaser Game</h4>
    </div>

    <p class="tut_button_group">
        <span class="tut_button_left" type="button" ng-click="close()">開始使用</span>
        <span class="tut_button_right" type="button" ng-click="ok()">介面教學</span>
    </p>
</div>
