<div>
    <div class="modal-header">
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        <div class="text-center code-img">
            <iframe class="hint_container code-img" height="360px" width="100%" ng-src="{{url}}"></iframe>
            <!-- <div class="phone_wrapper">
                <div class="phone view_3">
                    <iframe ng-src="{{url}}"></iframe>
                </div>
            </div> -->
        </div>
    </div>
    <div class="modal-footer">
        <!-- <div class="funcbuttons">
            <a href="" class="funcwhite" ng-href="{{apk}}">Download</a>
            <a href="" class="funcwhite" ng-click="ok()">OK</a>
        </div> -->
        <div class="text-center">
            <button class="modal-btn u-btn u-btn--succes btn-block" type="button" ng-click="ok()">OK</button>
        </div>
    </div>
</div>
