<div>
    <div class="modal-header">
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        <img class="modal-icon u-imgResponsive" ng-src="{{challenge_img}}" alt="Trophy"/>
        <div class="modal-header" ng-bind="challenge_title"></div>
        <div class="modal-subheader" ng-bind="challenge_content"></div>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button class="modal-btn u-btn u-btn--succes btn-block" type="button" ng-click="ok()">OK</button>
        </div>
    </div>
</div>
