<div>
    <div class="modal-header">
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        <div class="form-inline">
            <div class="form-group">
                <label>檔案名稱</label>
                <input type="text" ng-model="file_name">
                <label>檔案類型</label>

                <select class="form-control" ng-model="file_type" ng-change="seleted_change()">
                    <option value="js">
                        <span class="icon-javascript"></span>javascript
                    </option>
                    <option value="css">
                        <span class="icon-css"></span>css
                    </option>
                    <option value="html">
                        <span class="icon-html5-1"></span>html
                    </option>
                    <!-- <option value="img">
                        <span class="icon-picture"></span>image
                    </option> -->
                </select>
            </div>
        </div>
        <div ng-show="img_view">
            <hr/>
            <form>
                <input type="file" ng-file-select="onFileSelect($files)">
                <!--  <input type="file" ng-file-select="onFileSelect($files)" multiple> -->
            </form>
            <b>Preview:</b><br/>
            <i ng-hide="imageSrc">No image choosed</i>
            <img class="modal_image" ng-src="{{imageSrc}}"/><br/>
            <b>Progress:</b>
            <progress value="{{progress}}"></progress>
        </div>
    </div>
    <div class="modal-footer text-center">
        <div class="funcbuttons">
            <a href="" class="funcwhite" ng-click="cancel()">
                <span class="icon-cancel"></span>
            </a>
            <a href="" class="funcwhite" ng-click="ok()">
                <span class="icon-ok"></span>
            </a>
        </div>
    </div>
</div>
