<div>
    <div class="modal-header">
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="phone_wrapper">
                <div class="phone view_3">
                    <iframe src="{{url}}"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="funcbuttons">
            <a href="" class="funcwhite" ng-href="{{apk}}">Download
            </a>
            <a href="" class="funcwhite" ng-click="ok()">
                OK
            </a>
        </div>
    </div>
</div>
