<div>
    <div class="modal-header">
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        <!-- <a href="#" class="action-button shadow animate blue">
            <div class="heart"></div>
        </a>
        <a href="#" class="action-button shadow animate red">
            <div class="star"></div>
        </a> -->
        <div>
            <div class="star_form">
                <fieldset class="stars">
                    <input type="radio" name="stars" id="star1" ontouchstart="ontouchstart"/>
                    <label for="star1" class="icon-star"></label>
                    <input type="radio" name="stars" id="star2" ontouchstart="ontouchstart"/>
                    <label for="star2" class="icon-star"></label>
                    <input type="radio" name="stars" id="star3" ontouchstart="ontouchstart"/>
                    <label for="star3" class="icon-star"></label>
                    <input type="radio" name="stars" id="star4" ontouchstart="ontouchstart"/>
                    <label for="star4" class="icon-star"></label>
                    <input type="radio" name="stars" id="star5" ontouchstart="ontouchstart"/>
                    <label for="star5" class="icon-star"></label>
                    <div class="face">
                        <div class="eye"></div>
                        <div class="eye"></div>
                        <div class="smile">
                            <div class="smile_cover"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="head">
                <div class="animation_face face__happy">
                    <div class="eye-left"></div>
                    <div class="eye-right"></div>
                    <div class="mouth"></div>
                </div>
            </div>
            <div class="head">
                <div class="animation_face face__standard">
                    <div class="eye-left"></div>
                    <div class="eye-right"></div>
                    <div class="mouth"></div>
                </div>
            </div>
            <div class="head">
                <div class="animation_face face__sad">
                    <div class="eye-left"></div>
                    <div class="eye-right"></div>
                    <div class="mouth"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <div class=" col-md-6">
                <button class="modal-btn u-btn u-btn--share btn-block" type="button" ng-click="share()">Share</button>
            </div>
            <div class=" col-md-6">
                <button class="modal-btn u-btn u-btn--share btn-block col-md-6" type="button" ng-click="ok()">OK</button>
            </div>
        </div>
    </div>
</div>
