<div>
    <div class="modal-header">
        <h3 class="modal-title">Ionic Class 1</h3>
    </div>
    <div class="modal-body">
        <div class="radio-grp">
            <h4 class="title" ng-bind="quest_title"></h4>
            <div class="radio-btn" ng-repeat="quest_term in quest_terms track by $index" ng-click="choice(quest_term.term_corrent, $index)">
                <input type="radio" name="budget" value="0"/>
                <label ng-bind="quest_term.term_name" ng-style="choice_css[quest_term.term_index]" ></label>
            </div>
            <!-- <div class="radio-btn">
                <input type="radio" id="b" name="budget" value="1"/>
                <label for="b">PHP</label>
            </div>
            <div class="radio-btn">
                <input type="radio" id="c" name="budget" value="2"/>
                <label for="c">Python</label>
            </div>
            <div class="radio-btn">
                <input type="radio" id="d" name="budget" value="2"/>
                <label for="d">Ruby</label>
            </div> -->
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <div class=" col-md-6">
                <button class="modal-btn u-btn u-btn--share btn-block" type="button" ng-click="close()">返回影片</button>
            </div>
            <div class=" col-md-6">
                <button class="modal-btn u-btn u-btn--success btn-block col-md-6" type="button" ng-click="send_answer()">遞交答案</button>
            </div>
        </div>
    </div>
</div>
