<!DOCTYPE>
<html>
    <head></head>
    <body ng-app="gamilms">
        <div ng-controller="mainCtrl">
            <h1 ng-bind="hello"></h1>
        </div>
        <script src="gamilms.js"></script>
    </body>
</html>
